---
import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(entry => ({
    params: { slug: entry.slug.replace(/index$/, '') || undefined }, props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'blog'>
}

const { entry } = Astro.props

const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>

<Content />